

@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
* {
    padding: 0;
    margin: 0;
    
}

body {

    display: grid;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


.container {
    display: grid;
    place-items: center;
}

#dgtlogo {
    width: 400px;
    height: 200px;
}

/* IMAGEN DGT DEL COMPONENTE LOGO.JSX */

#encabezado {
    margin-left:10%;
    font-size: 80px;
    font-family: 'Smokum', cursive;
}

/* titulo h1 DEL COMPONENTE LOGO.JSX */

.semaforo {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background-color: #333335e7;
    padding: 10px;
    margin-bottom: 30%;
}

.luces-circulo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.3);
    position: relative;
    
   
}


.palo {
    width: 8px;
    height: 280px;
    background-color: #333335e7;
}

.cable {
    width: 800px;
    height: 5px;
    background-color: #333335e7;
    box-shadow: 0 0 10px 1px #f7f6e5;
}
.rojo{
    background-color: #c0392b;
}
.amarillo{
    background-color: #f1c40f;
}
.verde{
    background-color: #2ecc71;
}
.morado{
    background-color: #853a89;
}
 .brillito{
    box-shadow: 0px 0px 9px 4px #f5f4f2;
 }




